@charset "UTF-8";
/* CSS Document */


/* Typografi */

h1 {
  color: white;
  font-family: "bmx-radical", sans-serif;
  font-style:normal;
  font-size: 10vw;
}

h2 {
  color: #bfa36f;
  font-family: "carta-marina", sans-serif;
  font-size: 4vw;
  margin-left: 2vw;
}

h3 {
  color: #912b28;
  font-family: "carta-marina", sans-serif;
  font-size: 3vw;
  margin: 2vw;
}

h4 {
  color:#E5C53F;
  font-family: "carta-marina", sans-serif;
  font-size: 2vw;
}

p { /* Athelas typsnitt CSS */
  text-align: center;
  font-family: "athelas", serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 1000;
  font-size: 2vw;
  color: white;
  text-align: center;
  }

#merch_underrubrik { /* ID för andra underrubrik för merchsidan */
  font-size: 3vw;
  padding-left: 5%;
  padding-right: 5%;
}

#titlar { /* ID för jobbtitlar, kontaktsida */
  font-size: 3vw;
}

#rad2 { /* ID för rad 2 för texten på dörren */
  color: #E5C53F;
  font-size: 3vw;
}

.filmtext {
  margin: 2vw;
}


/* Bakgrund och body */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}

html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0px;
}

/* Gemensam Navigation */
.nav {
  background-color:#5c1c1b;
  text-align: center;
  position: sticky;
  margin-bottom: 1%;
  width: 100vw;
  height: 5vh;
  max-height: 8vh;
  padding-bottom: 1%;
  left: 0px;
}
 /* 
.nav > nav > ul {
  padding-right: 40px;
}
*/ 

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}

ul li {
  background-color: #5c1c1b;
  text-decoration: none;
  list-style: none;
  padding-right: 4vw;
  padding-left: 4vw;
}

ul li a { /* Carta Marina typsnitt */
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: "carta-marina", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2vw;
  padding-bottom: 7%;
}

a:hover {
  text-decoration: underline;
}

/* Gemensam Footer */
footer {
  font-family: "carta-marina", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: #5c1c1b;
  text-align: center;
  margin: none;
  padding: 1vw 1vw;
  position: relative;
  width: 100vw;
}

.footer {
  display: grid;
  background-color: #5c1c1b;
  padding: 1%;
  padding-top: 2%;
  grid-template-columns: auto auto auto;
  grid-template-areas: 
  'ikoner logga info'
}

.ikoner img { /* Class för facebook, instagram, mail */
  grid-area: ikoner;
  width: 10%;
  padding-left: 15%;
}

.logga img { /* Class för loggan */
  grid-area: logga;
  width: 20%;
}

.info p { /* Class för infotexten i footer */
  grid-area: info;
  font-size: 1vw;
}


/* STARTSIDA */

.index
{
  display: grid;
}

.container1 { /* Startsida */
  display: grid;
  margin: auto;
  position: relative;
  z-index: -1;
  grid-template-columns: auto auto auto auto;
  grid-template-areas: 
  '. | . | . | .'
  'main main main main'
}

.header {
  text-align: center;
  grid-area: header;
  padding-bottom: 5%;
}

.container1 img { /* Bakgrundsbild dörr */
  width: 70vw;
  z-index: -1;
  position: relative;
  margin-bottom: -2%;
  margin-top: -14%;
}

.premiär { /* Text på dörren */
  z-index: 1;
  position: absolute;
  top: 37%;
  text-align: center;
  color: white;
  font-family: "carta-marina", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2vw;
}

/* RESTEN AV SIDORNA 2-5 */
.restsidor {
  display: grid;
}

.container2 { /* Om filmen */
  display: grid;
  width: 60%;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  text-align: center;
  grid-template-columns: auto auto;
  grid-template-areas: 
  'header header'
  'main main'
}

.container3 { /* Lofstad slott */
  display: grid;
  width: 60%;
  padding: 2vw;
  margin: auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  grid-template-columns: auto auto auto auto;
  grid-template-areas: 
  'header header header header'
  'underrubrik1 underrubrik1 underrubrik1 underrubrik1'
  'axel1 axel1 axel1 axel1'
  'axel2 axel2 axel2 axel2'
  'hedvig hedvig hedvig hedvig'
  'branden branden branden branden'
  'brand brand brand brand'
  'brand2 brand2 brand2 brand2'
  'charles charles charles charles'
  'emilie emilie emilie emilie'
  'underrubrik2 underrubrik2 underrubrik2 underrubrik2'
  'cajsa cajsa cajsa cajsa'
  'rum13 rum13 rum13 rum13'
}

.underrubrik1 {
  grid-area: underrubrik1;
}

.axel1 {
  grid-area: axel1;
}

.axel2 {
  grid-area: axel2;
}

.hedvig {
  grid-area: hedvig;
}

.charles {
  grid-area: charles;
}

.emilie {
  grid-area: emilie;
}

.underrubrik2 {
  grid-area: underrubrik2;
}

.cajsa {
  grid-area: cajsa;
}

.rum13 {
  grid-area: rum13;
}

.brand {
  grid-area: brand;
  display: flex;
flex-direction: row;
margin-bottom: -6%;
padding-bottom: -6%;
}

.brand img{
  width: 25%;
  height: 80%;
  padding-top: 5%;
}

.brand2 {
  grid-area: brand2;
}

.branden {
  grid-area: branden;
}

.axel1 { /* ????? */
  grid-area: axel1;
  padding: 8%;
  text-align: center;
}

.container4 { /* Merch */
  display: grid;
  width: 60%;
  height: fit-content;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  grid-template-columns: auto auto;
  grid-template-areas: 
  'header header'
  'bild1 bild2'
  'bild3 bild4'
}

/* Grid-areas på Merch-sidan */
.bild1 { /* Merch */
  grid-area: bild1;
  align-self: center;
  justify-self: center;
  padding-left: 2vw;
  padding-right: 2vw;
}

.bild1 img {
  width: 20vw;
  border-radius: 10px;
}

.bild2 img {
  width: 17vw;
  border-radius: 10px;
}

.bild3 img {
  width: 17vw;
  border-radius: 10px;
}

.bild4 img {
  width: 17vw;
  border-radius: 10px;
}

.bild2 { /* Merch */
  grid-area: bild2;
  align-self: center;
  justify-self: center;
  padding-left: 2vw;
  padding-right: 2vw;
}

.bild3 { /* Merch */
  grid-area: bild3;
  align-self: center;
  justify-self: center;
  padding-left: 2vw;
  padding-right: 2vw;
}

.bild4 { /* Merch */
  grid-area: bild4;
  align-self: center;
  justify-self: center;
  padding-left: 2vw;
  padding-right: 2vw;
}


.container5 { /* Om oss */
  display: grid;
  width: 60%;
  margin: auto;
  padding-bottom: 10%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  'header header'
  'Anna_text Anna_bild'
  'Emma_bild Emma_text'
  'Alexandra_text Alexandra_bild'
}

/* Grid-areas på Kontakt-sidan */
.Anna_bild img {
  grid-area: Anna_bild;
  width: 50%;
  border-radius: 100px;
  margin-left: 20%;
  margin-top: 10%;ß
}

.Emma_bild img {
  grid-area: Emma_bild;
  width: 50%;
  border-radius: 100px;
  margin-left: 25%;
  margin-top: 20%;
  margin-bottom: 10%;
}

.Alexandra_bild img {
  grid-area: Alexandra_bild;
  width: 50%;
  border-radius: 100px;
  margin-left: 20%;
  margin-top: 10%;
}

.Anna_text {
  grid-area: Anna_text;
  text-align: center;
  margin-left: 10%;
  border: 1px solid #912b28;
  padding: 5%;
  border-radius: 5px;
}

.Emma_text {
  grid-area: Emma_text;
  text-align: center;
  margin-top: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  border: 1px solid #912b28;
  padding: 5%;
  border-radius: 5px;
}

.Alexandra_text {
  grid-area: Alexandra_text;
  text-align: center;
  margin-left: 10%;
  border: 1px solid #912b28;
  padding: 5%;
  border-radius: 5px;
}

/* Tar bort hamburgermenyn från datorversionen */
@media (min-width: 601px)
{ 
.hamburger {
  display: none;
}

.dorrmobil {
  display: none;
}
}

/* MOBILANPASSAT */
@media (max-width: 700px)
{
.index {
  background-image: url(door_telefon.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
}

.restsidor {
  border-radius: 7px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.nav {
  display: none;
  border-radius: 5px;
}

.nav ul {
  display: inline;
  text-align: left;
}

.nav li {
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.nav a {
  font-size: 5vw;
}

.hamburger {
  display: block;
  font-size: 5vw;
  cursor: pointer;
  font-family: "carta-marina", sans-serif;
  font-size: 7vw;
  background-color: #5c1c1b;
  color: white;
  text-align: left;
  margin-bottom: 2%;
  border-radius: 5px;
}

.hamburger:hover {
  color: #bfa36f;
}

.container4 { /* Merch */
  display: grid;
  width: 100%;
  height: fit-content;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  grid-template-columns: auto;
  grid-template-areas: 
  'header'
  'bild1' 
  'bild2'
  'bild3'
  'bild4'
}

.header {
  grid-area: header;
}

/* Grid-areas på Merch-sidan */
.bild1 { /* Merch */
  grid-area: bild1;
}

.bild1 img {
  border-radius: 10px;
  width: 50vw;
  align-self: center;
  justify-self: center;
}

.bild2 img {
  border-radius: 10px;
  width: 50vw;
  align-self: center;
  justify-self: center;
}

.bild3 img {
  border-radius: 10px;
  width: 50vw;
  align-self: center;
  justify-self: center;
}

.bild4 img {
  border-radius: 10px;
  width: 50vw;
  align-self: center;
  justify-self: center;
}

.bild2 { /* Merch */
  grid-area: bild2;
}

.bild3 { /* Merch */
  grid-area: bild3;
}

.bild4 { /* Merch */
  grid-area: bild4;
}

.container5 { /* Om oss */
  display: grid;
  width: 100%;
  padding-bottom: 10%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  grid-template-columns: auto;
  grid-template-areas: 
  'header header'
  'Anna_text Anna_bild'
  'Emma_bild Emma_text'
  'Alexandra_text Alexandra_bild'
}

/* Grid-areas på Kontakt-sidan */
.Anna_bild img {
  grid-area: Anna_bild;
  width: 50%;
  border-radius: 100px;
  margin-left: 20%;
  margin-top: 10%;ß
}

.Emma_bild img {
  grid-area: Emma_bild;
  width: 50%;
  border-radius: 100px;
  margin-left: 25%;
  margin-top: 20%;
  margin-bottom: 10%;
}

.Alexandra_bild img {
  grid-area: Alexandra_bild;
  width: 50%;
  border-radius: 100px;
  margin-left: 20%;
  margin-top: 10%;
}

.Anna_text {
  grid-area: Anna_text;
  text-align: center;
  margin-left: 10%;
  border: 1px solid #912b28;
  padding: 5%;
  border-radius: 5px;
}

.Emma_text {
  grid-area: Emma_text;
  text-align: center;
  margin-top: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  border: 1px solid #912b28;
  padding: 5%;
  border-radius: 5px;
}

.Alexandra_text {
  grid-area: Alexandra_text;
  text-align: center;
  margin-left: 10%;
  border: 1px solid #912b28;
  padding: 5%;
  border-radius: 5px;
}

#titlar { /* ID för jobbtitlar, kontaktsida */
  font-size: 5vw;
}

#namntitel {
  font-size: 4vw;
}

.footer {
  display: grid;
  background-color: #5c1c1b;
  padding: 1%;
  padding-top: 2%;
  grid-template-columns: auto auto auto;
  grid-template-areas: 
  'ikoner logga info';
}

.ikoner img { /* Class för facebook, instagram, mail */
  grid-area: ikoner;
  width: 8vw;
  padding-left: 5%;
}

.logga img { /* Class för loggan */
  grid-area: logga;
  width: 12vw;
  margin-left: 30%;
}

.info p { /* Class för infotexten i footer */
  grid-area: info;
  font-size: 2vw;
}

html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0px;
}

h1 {
  color: white;
  font-family: "bmx-radical", sans-serif;
  font-style: normal;
  font-size: 15vw;
  margin: 2%;
  margin-top: 5%;
}

h2 {
  color: #bfa36f;
  font-family: "carta-marina", sans-serif;
  font-size: 7vw;
  margin-left: 5%;
}


h3 {
  color: #912b28;
  font-family: "carta-marina", sans-serif;
  font-size: 3vw;
}

#roda_titlar {
  font-size: 5vw;
}

#merch_underrubrik { /* ID för andra underrubrik för merchsidan */
  font-size: 4vw;
  padding-left: 5%;
  padding-right: 5%;
}

h4 {
  color:#E5C53F;
  font-family: "carta-marina", sans-serif;
  font-size: 3vw;
}

h4 {
  color:#E5C53F;
  font-family: "carta-marina", sans-serif;
  font-size: 2vw;
}

p { /* Athelas typsnitt CSS */
  text-align: center;
  font-family: "athelas", serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 1000;
  font-size: 3vw;
  color: white;
  }

  .container3 { /* Lofstad slott */
    display: grid;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    grid-template-columns: auto auto auto auto;
    grid-template-areas: 
    'header header header header'
    'underrubrik1 underrubrik1 underrubrik1 underrubrik1'
    'axel1 axel1 axel1 axel1'
    'axel2 axel2 axel2 axel2'
    'hedvig hedvig hedvig hedvig'
    'branden branden branden branden'
    'brand brand brand brand'
    'brand2 brand2 brand2 brand2'
    'charles charles charles charles'
    'emilie emilie emilie emilie'
    'underrubrik2 underrubrik2 underrubrik2 underrubrik2'
    'cajsa cajsa cajsa cajsa'
    'rum13 rum13 rum13 rum13'
  }

  .container3 p {
    padding-right: 4vw;
  }

  .container2 { /* Om filmen */
    display: grid;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    grid-template-columns: auto auto;
    grid-template-areas: 
    'header header'
    'main main'
  }

}